.side-menu.sidebar-inverse
  nav.navbar.navbar-default(role='navigation')
    .side-menu-container
      .navbar-header
        a.navbar-brand(href='#')
          .icon.fa.fa-paper-plane
                                           
          .title Flat Admin V.2
                                     
        button.navbar-expand-toggle.pull-right.visible-xs(type='button')
          i.fa.fa-times.icon
                               
      ul.nav.navbar-nav
        li.active
          a(href='index.html')
            span.icon.fa.fa-tachometer
            span.title Dashboard
                                     
        li.panel.panel-default.dropdown
          a(data-toggle='collapse', href='#dropdown-element')
            span.icon.fa.fa-desktop
            span.title UI Kits
          // Dropdown level 1
          #dropdown-element.panel-collapse.collapse
              ul.nav.navbar-nav
                li
                  a(href='ui-kits/theming.html') Theming
                                                             
                li
                  a(href='ui-kits/grid.html') Grid
                                                             
                li
                  a(href='ui-kits/button.html') Buttons
                                                             
                li
                  a(href='ui-kits/card.html') Cards
                                                             
                li
                  a(href='ui-kits/list.html') Lists
                                                             
                li
                  a(href='ui-kits/modal.html') Modals
                                                             
                li
                  a(href='ui-kits/alert.html') Alerts &amp; Toasts
                                                             
                li
                  a(href='ui-kits/panel.html') Panels
                                                             
                li
                  a(href='ui-kits/loader.html') Loaders
                                                             
                li
                  a(href='ui-kits/step.html') Tabs &amp; Steps
                                                             
                li
                  a(href='ui-kits/other.html') Other
                                     
        li.panel.panel-default.dropdown
          a(data-toggle='collapse', href='#dropdown-table')
            span.icon.fa.fa-table
            span.title Table
          // Dropdown level 1
          #dropdown-table.panel-collapse.collapse
            .panel-body
              ul.nav.navbar-nav
                li
                  a(href='table/table.html') Table
                                                             
                li
                  a(href='table/datatable.html') Datatable
                                     
        li.panel.panel-default.dropdown
          a(data-toggle='collapse', href='#dropdown-form')
            span.icon.fa.fa-file-text-o
            span.title Form
          // Dropdown level 1
          #dropdown-form.panel-collapse.collapse
            .panel-body
              ul.nav.navbar-nav
                li
                  a(href='form/ui-kits.html') Form UI Kits
        // Dropdown
        li.panel.panel-default.dropdown
          a(data-toggle='collapse', href='#component-example')
            span.icon.fa.fa-cubes
            span.title Components
          // Dropdown level 1
          #component-example.panel-collapse.collapse
            .panel-body
              ul.nav.navbar-nav
                li
                  a(href='components/pricing-table.html') Pricing Table
                                                             
                li
                  a(href='components/chartjs.html') Chart.JS
        // Dropdown
        li.panel.panel-default.dropdown
          a(data-toggle='collapse', href='#dropdown-example')
            span.icon.fa.fa-slack
            span.title Page Example
          // Dropdown level 1
          #dropdown-example.panel-collapse.collapse
            .panel-body
              ul.nav.navbar-nav
                li
                  a(href='pages/login.html') Login
                                                             
                li
                  a(href='pages/index.html') Landing Page
        // Dropdown
        li.panel.panel-default.dropdown
          a(data-toggle='collapse', href='#dropdown-icon')
            span.icon.fa.fa-archive
            span.title Icons
          // Dropdown level 1
          #dropdown-icon.panel-collapse.collapse
            .panel-body
              ul.nav.navbar-nav
                li
                  a(href='icons/glyphicons.html') Glyphicons
                                                             
                li
                  a(href='icons/font-awesome.html') Font Awesomes
                                     
        li
          a(href='license.html')
            span.icon.fa.fa-thumbs-o-up
            span.title License
    // /.navbar-collapse
// Main Content
